<!DOCTYPE html>

{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="{% static 'media/image/favicon.ico' %}">
    {% block html_title %}
        <title></title>
    {% endblock %}
    {% block css %}
    {% endblock %}
</head>
<body>
    {% block main %}
    {% endblock %}

    <script src="{% static 'js/jquery-3.4.0.min.js' %}"></script>

    {% block js %}
    {% endblock %}

    <script type="text/javascript" src="{% static 'js/crsf_ajax.js' %}"></script>
</body>
</html>
