<!DOCTYPE html>

{% extends "base_login.html" %}
{% load static %}

<html lang="en">


{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <style>
        .recode-image {
            background: url({{ MEDIA_URL }}{{ recode_image.recode_image_path }}) 23px 9px no-repeat;
        }
    </style>
{% endblock %}
{% block html_title %}
    <title>Re-acquire activation link | Foodalways</title>
{% endblock %}


{% block main %}
    <div class="dowebok wrap">

        <div class="logo">
            <img class="head-image" src="{% static 'media/image/login_default.png' %}" alt="Avatar">
        </div>
        <div><h3>Get the activation link again</h3></div>
        <form id="jsForgetPassword">
            <div class="form-item">
                <input id="jsUsername" name="username" class="username" type="text" autocomplete="off" placeholder="Please enter your user name" required>
            </div>
            <div class="form-item">
                <input id="jsEmail" name="email" class="email" type="email" autocomplete="off" placeholder="Please enter your email address" required>
            </div>
            <div class="form-item">
                <div>
                    <input id="jsRecode" name="recode" class="recode" type="text" autocomplete="off" placeholder="Result of the equation in the image" required>
                    <button id="jsRecodeImage" type="button" class="recode-image"></button>
                </div>
            </div>
            <div class="form-item">
                <button id="jsSubmit" type="button">Verify the result</button>
            </div>
        </form>
        <div class="reg-bar">
            <a class="reg" href="{% url 'user:register' %}">Register now</a>
            <a class="forget" href="{% url 'user:forget_password' %}">Forgot password?</a>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(function () {
            $(document).ready(function () {
                $('#jsSubmit').on('click', function () {
                    $.ajax({
                        cache: false,
                        type: "POST",
                        url: "{% url 'user:forget_password' %}",
                        data: $('#jsForgetPassword').serialize(),
                        async: true,
                        beforeSend: function (xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                        },
                        success: function (data) {
                            // Restore the input box style
                            $("#jsRecode").removeClass("error");
                            $("#jsUsername").removeClass("error");
                            $("#jsEmail").removeClass("error");
                            $("#jsRecode").attr({
                                placeholder: "Result of the equation in the image"
                            });
                            $("#jsUsername").attr({
                                placeholder: "Please enter your user name"
                            });
                            $("#jsEmail").attr({
                                placeholder: "Please enter your email address"
                            });
                            if (data.status === 'success'){
                                alert("Verified, please go to the registered email address to reset your password");
                            } else if (data.status === 'fail') {
                                if (data.fail_type === "form") {
                                    // Update verification code
                                    var path_1 = JSON.parse(data.recode_image).recode_image_path;
                                    var url_1 = "url({{ MEDIA_URL }}12345) 23px 9px no-repeat";
                                    url = url_1.replace("12345", path_1);
                                    $(".recode-image").css("background", url);
                                    alert("The information entered does not meet the requirements, please re-enter");
                                } else if (data.fail_type === "recode") {
                                    // Update verification code
                                    var path_2 = JSON.parse(data.recode_image).recode_image_path;
                                    var url_2 = "url({{ MEDIA_URL }}12345) 23px 9px no-repeat";
                                    url = url_2.replace("12345", path_2);
                                    $(".recode-image").css("background", url);
                                    // Show an error message
                                    $("#jsRecode").attr({
                                        placeholder : "Calculation result is wrong" ,
                                        class: "recode error",
                                    });
                                    $("#jsRecode").val("");
                                } else if (data.fail_type === "username") {
                                    // Update verification code
                                    var path_3 = JSON.parse(data.recode_image).recode_image_path;
                                    var url_3 = "url({{ MEDIA_URL }}12345) 23px 9px no-repeat";
                                    url = url_3.replace("12345", path_3);
                                    $(".recode-image").css("background", url);
                                    // Show an error message
                                    $("#jsUsername").attr({
                                        placeholder: "Username does not exist",
                                        class: "recode error",
                                    });
                                    $("#jsUsername").val("");
                                } else if (data.fail_type === "email") {
                                    // Update verification code
                                    var path_4 = JSON.parse(data.recode_image).recode_image_path;
                                    var url_4 = "url({{ MEDIA_URL }}12345) 23px 9px no-repeat";
                                    url = url_4.replace("12345", path_4);
                                    $(".recode-image").css("background", url);
                                    // Show an error message
                                    $("#jsEmail").attr({
                                        placeholder: "The email does not match the username",
                                        class: "recode error",
                                    });
                                    $("#jsEmail").val("");
                                } else if (data.fail_type === "send_email") {
                                    alert("Failed to send the email, please check if your email exists")
                                }
                            }
                        }
                    });
                });
            });
        });
    </script>
    <script>
        $(function () {
            $(document).ready(function () {
                $('#jsRecodeImage').on('click', function () {
                    $.ajax({
                        cache: false,
                        type: "POST",
                        url: "{% url 'user:flush_recode_image' %}",
                        async: true,
                        beforeSend: function (xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                        },
                        success: function (data) {
                            if (data.status === 'success') {
                                var path_1 = JSON.parse(data.recode_image).recode_image_path;
                                var url_1 = "url({{ MEDIA_URL }}12345) 23px 9px no-repeat";
                                url = url_1.replace("12345", path_1);
                                $(".recode-image").css("background", url);
                            }
                        }
                    });
                });
            });
        });
    </script>
{% endblock %}


</html>
