<!DOCTYPE html>

{% extends "base_login.html" %}
{% load static %}

<html lang="en">

{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block html_title %}
    <title>Reset password | Foodalways</title>
{% endblock %}


{% block main %}
    <div class="dowebok wrap">
        <div class="logo">
            <img class="head-image" src="{% static 'media/image/login_default.png' %}" alt="Avatar">
        </div>
        <form id="jsResetPassword">
            <div><h3>Reset password</h3></div>
            <div class="form-item">
                <input id="jsPassword" name="password" class="password" type="password" autocomplete="off" placeholder="Password: a combination of 8 to 16 digits, symbols or letters" required>
            </div>
            <div class="form-item">
                <input id="jsPassword2" name="password2" class="password" type="password" autocomplete="off" placeholder="Please make sure the password is not valid" required>
            </div>
            <div class="form-item">
                <button id="jsSubmit" type="button">Reset</button>
            </div>
        </form>
        <div class="reg-bar">
            <a class="reg" href="{% url 'user:register' %}">Register now</a>
            <a class="forget" href="{% url 'user:login' %}">Return to the login page</a>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(function () {
            $(document).ready(function () {
                $('#jsSubmit').on('click', function () {
                    $.ajax({
                        cache: false,
                        type: "POST",
                        url: "{% url 'user:reset_password' %}",
                        data: $('#jsResetPassword').serialize(),
                        async: true,
                        beforeSend: function (xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                        },
                        success: function (data) {
                            // Restore the input box style
                            $("#jsPassword").removeClass("error");
                            $("#jsPassword2").removeClass("error");
                            $("#jsPassword").attr({
                                placeholder: "Password: a combination of 8 to 16 digits, symbols or letters"
                            });
                            $("#jsPassword2").attr({
                                placeholder: "Please make sure the password is not valid"
                            });
                            if (data.status === 'fail') {
                                if (data.fail_type === "form") {
                                    alert("The information entered does not meet the requirements, please re-enter");
                                } else if (data.fail_type === "not_equal") {
                                    // Show an error message
                                    $("#jsPassword2").attr({
                                        placeholder: "Two input passwords are not consistent",
                                        class: "recode error",
                                    });
                                    $("#jsPassword2").val("");
                                } else if (data.fail_type === "email") {
                                    alert("The link to reset password page has been expired, please get it again");
                                    var redirectUrl = "{% url 'user:forget_password' %}";
                                    location.href = redirectUrl;
                                }
                            } else if (data.status === "success") {
                                // The redirection ajax in the django background
                                // will not automatically perform the redirection
                                // Successful message is sent back directly from the background,
                                // and then refresh the page in ajax
                                alert("Password changed successfully, please log in again");
                                var redirectUrl = "{% url 'user:login' %}";
                                location.href = redirectUrl;
                            }
                        }
                    });
                });
            });
        });
    </script>
{% endblock %}


</html>
